* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.content div {
    flex: 1;
}