* {
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 16px 10%;
}

.header-link {
    display: flex;
    gap: 16px;
}

.header-link div a{
    color: whitesmoke;
    text-decoration: none;
}

.header-logo {
    font-weight: bold;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.content div {
    flex: 1;
}